%h1 Listing products

%table.table
  %tr
    %th Name
    %th Address
    %th Price
    %th 
    %th 
    %th 

  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.address
      %td= product.price
      %td= link_to 'Show', product
      - if can? :update, @article
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
- if can? :update, @article
  = link_to 'New Product', new_product_path
